#sign-up{
    background-color: rgb(46, 164, 79);
    border: none;
    color: white;
    width: 80px;
    height: 30px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}
#sign-up:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
