*{
    font-family: Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.p1{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 8px;
}
.p1 span{
    color: gray;
    font-weight: normal;
}
.p2{
    margin-bottom: 20px;
}
.p3 span{
    color: cornflowerblue
}