{% extends "views_base.html" %} {% block title %}Home{% endblock %}

{% block specific_content %}
{% for attr in user_dict.keys() %}
  <div class="container mt-1">
    <div class="accordion" id="{{attr}}Example">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{attr}}" aria-expanded="true" aria-controls="collapse{{attr}}">
          {% set capitalized_attr = attr|capitalize %}
          <strong>{{ capitalized_attr }}</strong>
        </button>
      </h2>
      <div id="collapse{{attr}}" class="accordion-collapse collapse" data-bs-parent="#{{attr}}Example">
      <div class="accordion-body">
          {% set temp = attr %}
          {% if temp == "email" %}
            {{ user[temp] }}
          {% else %}
            {{ user[temp]|capitalize }}
          {% endif %}
      </div>
    </div>
    </div>
  </div>
</div>
</body>
{% endfor %}
{% endblock %}