{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

{# Warning message flash in case user is allowed to hit "/login" while authenticated #}
{# 
{% if user.is_authenticated %}
<div id="close" class="alert alert-warning alert-dismissible fade show">
  First logout from <strong>{{user.email}}  </strong>
  <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button>
</div>
{% else %}
{% endif %} #}

<div class="container mt-3" align="center">

  {# checks if user is is authenticated and decides input disabled or not #}
  {# {% if user.is_authenticated %}
    {% set status = "disabled" %}
  {% else %}
    {% set status = "" %}
  {% endif %} #}

  {# login input form #}
  <form method="POST" class="form-control" disabled>
      <h2 align="center">Login</h2> <br>

      <div class="form-floating mb-4">
        <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control">
        <label for="email">Email : </label>
      </div>
      
      <div class="form-floating mb-3">
        <input type="password" id="password" name="password" placeholder="Enter Password" class="form-control">
        <label type="password">Password : </label>
      </div>
        <button class="btn btn-primary" type="submit" id="login">Login</button>
  </form>
</div>

{% endblock  %}