{% extends "views_base.html" %} {% block title %}Todo{% endblock %}

{% block specific_content %}

{# form container #}
<div class="container my-3">
  <h2>Add a Todo</h2>
  <form method="POST">

    {# Todo Title #}
    <div class="mb-3">
      <label for="todoTitle" class="form-label">Todo Title</label>
      <input type="text" class="form-control" id="todoTitle" name="todoTitle" aria-describedby="emailHelp">
    </div>

    {# Todo Description #}
    <div class="mb-3">
      <label for="todoDesc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" id="todoDesc" name="todoDesc">
    </div>

    {# Submit Button #}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{# table container #}
<div class="container my-3">
  <h2>Your Todos</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      
      {% for todo in allTodo %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.date_created}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}

