{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<h2 align="center">Sign Up</h2>
<div class="container">
    <div class="form-floating">
        <form class="form-floating" method="POST">
            <div class="form-floating mb-3">
                <input class="form-control" type="email" name="email" id="email" placeholder="Enter email">
                <label for="email">Email Address</label>
            </div>
            <br>

            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="name" id="name" placeholder="Enter name">
                <label for="email">Name</label>
            </div>
            <br>

            <div class="form-floating mb-3">
                <input class="form-control" type="number" name="age" id="age" placeholder="Enter age">
                <label for="email">Age</label>
            </div>
            <br>

            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="hobby" id="hobby" placeholder="Enter hobby">
                <label for="email">Hobby</label>
            </div>
            <br>

            <div class="form-floating">
                <input class="form-control" type="password" name="password1" id="password1" placeholder="Enter password">
                <label for="password">Password</label>
            </div>
            <br><br>

            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="password2" id="password2" placeholder="Confirm password">
                <label for="email">Password (Confirm)</label>
            </div>
            <br>
        </div>
        <button class="btn btn-primary" type="submit" id="login">Sign Up</button>
    </form>
</div>
{% endblock %}
